@media (max-width: 960px) {
    .content-wrapper {
        flex-direction: column;
        gap: 2rem;
    }

    .download-area {
        flex: none;
        width: 100%;
        text-align: center;
    }
}
